{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li>Users</li>
    <li class="active">Add</li>
</ol>
{% endblock %}
{% block content %}
<script src="../static/js/verify.js"></script>
<!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">新增用户</span>
            </div>
            <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="sub-title">用户名</div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        {{ form.username(id="username",class="form-control",placeholder="请输入用户名...") }}
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-default" onclick="verify_username()">验证</a>
                                    </div>
                                </div>
                            <div class="sub-title">密码</div>
                                <div class="form-inline">
                                    输入密码：
                                    {{ form.password(class="form-control",placeholder="请输入密码...") }}
                                    确认密码：
                                    {{ form.confirm(class="form-control",placeholder="再次输入密码...") }}
                                </div>
                            <div class="sub-title">是否启用<span class="description">(默认启用)</span></div>
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                                    <td>{{ form.enable }}</td>
                                    <td>{{ form.enable.label }}</td>
                                </div>
                            <div class="sub-title">用户角色<span class="description">(单选)</span></div>
                            <div>
                                {% for child in form.role %}
                                    <div class="radio3 radio-inline radio-check radio-success">
                                        <td>{{ child }}</td>
                                        <td>{{ child.label }}</td>
                                    </div>
                                {% endfor %}
                            </div><br>
                            <div>
                                {{ form.submit(class="btn btn-success") }}
                                <input class="btn btn-link" name="reset" type="reset" value="重置"/>
                            </div>
                            {% for message in get_flashed_messages() %}
                                {% if "Error" in message %}
                                    <div class="alert alert-danger col-sm-12" role="alert">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-success col-sm-12" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
