{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li class="active">Dashboard</li>
</ol>
{% endblock %}
{% block content %}
<script src="../static/lib/js/echarts.min.js"></script>
<script src="../static/js/charts.js"></script>
<!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">Charts</span>
                <div class="description">发版相关报表图</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">全工程发版状况</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="projects_status" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">发版 Top</div>
                            </div>
                        </div>
                        <div class="card-body no-padding">
                            <div id="deploy_top" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">发版请求人 Top</div>
                            </div>
                        </div>
                        <div class="card-body no-padding">
                            <div id="requester_top" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
