{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li class="active">Dashboard</li>
</ol>
{% endblock %}
{% block content %}
<script src="../static/lib/js/echarts.min.js"></script>
<!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">Charts</span>
                <div class="description">发版相关报表图</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">全工程发版状况</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="projects_status" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">发版 Top</div>
                            </div>
                        </div>
                        <div class="card-body no-padding">
                            <div id="deploy_top" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">发版请求人 Top</div>
                            </div>
                        </div>
                        <div class="card-body no-padding">
                            <div id="requester_top" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // 全工程柱形图
        var p_barChart = echarts.init(document.getElementById('projects_status'));
        // 显示标题，图例和空的坐标轴
        p_barChart.setOption({
            legend: {},
            tooltip: {},
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {type: 'bar'},
                {type: 'bar'},
                {type: 'bar'}
            ]
        });

        // 异步加载数据
        p_barChart.showLoading();
        $(function(){
            $.get('deploy_detail').done(function (data) {
            // 填入数据
                p_barChart.hideLoading();
                p_barChart.setOption({
                    dataset: {
                        source: data
                    }
                });
            });
        });

        // 发版 top
        var t_barChart = echarts.init(document.getElementById('deploy_top'));
        // 显示标题，图例和空的坐标车轴
        t_barChart.setOption({
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '10%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: []
            },
            series: [
                {
                    name: '次数',
                    type: 'bar',
                    data: []
                }
            ]
        });

        // 异步加载数据
        t_barChart.showLoading();
        $(function(){
            $.get('deploy_top').done(function (data) {
            // 填入数据
                t_barChart.hideLoading();
                t_barChart.setOption({
                    yAxis: {
                        data: data.projects
                    },
                    series: {
                        name: '次数',
                        data: data.amount
                    }
                });
            });
        });

        // 饼图
        var r_pieChart = echarts.init(document.getElementById("requester_top"));
        r_pieChart.setOption({
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: []
             },
            series : [
                {
                    name: '次数',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });

        // 异步加载数据
        r_pieChart.showLoading();
        $(function(){
            $.get('requester_top').done(function (data) {
            // 填入数据
                r_pieChart.hideLoading();
                r_pieChart.setOption({
                    legend: {
                        data: data.amount.name
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '次数',
                        data: data.amount
                    }]
                });
            });
        });

        //echarts 随屏幕缩放
        setTimeout(function () {
            window.onresize = function () {
                p_barChart.resize();
                t_barChart.resize();
                r_pieChart.resize();
            }
        });
    </script>
{% endblock %}
