{% extends "layout.html" %}
{% block body %}
    <body>
    <div style="margin-top: 50px;margin-left: 210px; margin-right: 10px; z-index: -1"><br>
        <form action="" method=post>
        {{ form.hidden_tag() }}
        {% if project == "add_new_project" %}
        <h3>添加新工程：</h3><hr>
            <div>
                <span>工程名：{{ form.project_name(placeholder="请输入新工程名(必填)") }}
                <button type="button" onclick="alert('Still working on it...')">是否可用</button></span>
            </div><br>
        {% else %}
        <h3>{{ project }} 设置：</h3><hr>
            <div>
                <span>工程重命名：<input type="text" name="new_project" class="textbox" value={{ project }}>
                <button type="button" onclick="alert('Still working on it...')">是否可用</button></span>
            </div><br>
        {% endif %}
            <div>
                <span>服务器列表：</span><hr>
                <ul style="list-style-type: none">
                    <li><span>IPs：{{ form.servers(style="width:60%",placeholder="多个IP请以 \",\" 号分隔！(必填)",value=conf.servers) }}</span></li>
                </ul>
            </div><br>
            <div>
                <span>工程源码库地址：</span><hr>
                <span>Repository Address：{{ form.source_address(style="width:60%") }}</span>
            </div><br>
            <div>
                <span>发布后动作(如果有)：</span><hr>
                <ul style="list-style-type: none">
                    <li><span>请在下框输入脚本：</span><br>
                        {{ form.post_script_type }}
                    </li><br>
                    <li>{{ form.post_script(style="width: 80%; height: 50px",placeholder="请在此框输入完整脚本！",value=conf.post_script ) }}</li>
                </ul>
            </div><br>
            <div>
                <input name="submit" type="submit" value="保存" />
                <input name="reset" type="reset" value="取消"/>
            </div>
		</form>
    </div>
    </body>
{% endblock %}
