{% extends "layout.html" %}
{% block body %}
    <body>
    <script src="../static/js/echarts.min.js"></script>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div style="margin-top: 50px; margin-left: 210px">
        <div id="projects_status" style="margin-top:60px; width: 100%; height:400px; z-index: -1; float: left"></div>
    </div>
    <div style="margin-top: 500px; margin-left: 210px; width:80%; position: fixed">
        <div id="bar" style="width: 50%; height: 400px; z-index: -1; float: left">发版 TOP 10</div>
        <div id="pie" style="width: 50%; height: 400px; z-index: -1; float: right">请求人 Top 10</div>
    </div>
    <script type="text/javascript">
        // 全工程柱形图
        var p_barChart = echarts.init(document.getElementById('projects_status'));
        // 显示标题，图例和空的坐标轴
        p_barChart.setOption({
            title: {
              text: '   全工程发版状况'
            },
            legend: {},
            tooltip: {},
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {type: 'bar'},
                {type: 'bar'},
                {type: 'bar'}
            ]
        });

        // 异步加载数据
        p_barChart.showLoading();
        $(function(){
            $.get('deploy_detail').done(function (msg) {
            // 填入数据
                p_barChart.hideLoading();
                p_barChart.setOption({
                    dataset: {
                        source: msg
                    }
                });
            });
        });

        //echarts 随屏幕缩放
        setTimeout(function () {
            window.onresize = function () {
                p_barChart.resize();
            }
        });
    </script>
    </body>
{% endblock %}
