{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li>Projects</li>
    <li class="active">Delete</li>
</ol>
{% endblock %}
{% block content %}
<!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">Alert!</span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">以下工程将删除</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <p>工程名：<span style="font-size: medium">{{ project }}</span></p><br>
                                <div>
                                    <input class="btn btn-default" type="submit" value="确定"/>
                                    <button class="btn btn-link" formmethod="get" formaction="{{ url_for('projects') }}">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
