{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li>Projects</li>
    <li class="active">Deploy</li>
</ol>
{% endblock %}
{% block content %}
<style>
td,th
{
    text-align: center;
}
</style>
<script src="../static/js/deploy.js"></script>
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">{{ project }}</span>
        </div>
        <form action="" method="post">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="sub-title form-inline">
                                请输入需发布分支：<input type="text" name="branch" id="branch" class="form-control input-sm">
                                <button class="btn btn-default btn-sm" formmethod="post" formaction="{{ url_for('deploy_exec',project=project) }}">发布</button>
                                {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger">
                                    <strong>Error:</strong> {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>版本</th>
                                    <th>日期</th>
                                    <th>状态</th>
                                    <th>发布者</th>
                                    <th>发版说明</th>
                                    <th>请求者</th>
                                    <th>日志</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>选择</th>
                                    <th>版本</th>
                                    <th>日期</th>
                                    <th>状态</th>
                                    <th>发布者</th>
                                    <th>发版说明</th>
                                    <th>请求者</th>
                                    <th>日志</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for record in records %}
                                <tr>
                                    <td style="vertical-align: middle">
                                        <div class="radio3 radio-check radio-inline radio-success">
                                            <input type="radio" id="{{ record.version }}" name="selected" value="{{ record.version }}" onclick="version_select()"/>
                                            <label for="{{ record.version }}">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle">{{ record.version }}</td>
                                    <td style="vertical-align: middle">{{ record.time_begin }}</td>
                                    {% if record.status == 1 %}
                                    <td style="vertical-align: middle">
                                        <label class="label label-success">成功</label>
                                    </td>
                                    {% elif record.status == 0 %}
                                    <td style="vertical-align: middle">
                                        <label class="label label-danger">失败</label>
                                    </td>
                                    {% elif record.status == -1 %}
                                    <td style="vertical-align: middle">
                                        <label class="label label-warning">中断</label>
                                    </td>
                                    {% endif %}
                                    <td style="vertical-align: middle">{{ record.deployer }}</td>
                                    <td style="vertical-align: middle">{{ record.deploy_reason }}</td>
                                    <td style="vertical-align: middle">{{ record.requester }}</td>
                                        <p style="display: none" id="{{ record.record_id }}">{{ record.logs }}</p>
                                    <td style="vertical-align: middle">
                                        <label class="label label-info">
                                            <a href="javascript:void(0)" style="color: ghostwhite" onclick="show_logs('{{ record.record_id }}')">点击查看</a>
                                        </label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
