{% extends "layout.html" %}
{% block body %}
    <script src="../static/js/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/execute';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.time_stamp + ': ' + msg.data + '\n').html());
            });

            $('form#disconnect').submit(function() {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
    <body>
    <div style="margin-top: 50px;margin-left: 210px; margin-right: 10px; z-index: -1"><br>
        <h2>Executing: &nbsp;&nbsp;{{ project }}_{{ branch }}</h2><hr>
        <form id="disconnect" method="POST" action="#">
            <div style="width: 65%">
                <h3>Output:<input style="float: right" type="submit" value="中断！"></h3>
            </div>
        </form>
        <textarea id="log" style="width: 65%; height: 500px; background-color: ghostwhite" placeholder="Logs output here..."></textarea>
    </div>
    </body>
{% endblock %}