{% extends "layout.html" %}
{% block body %}
    <script src="../static/js/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/execute';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my_event', {data: '后台已连接!'});
            });
            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.time_stamp + msg.data).html());
            });
            socket.on('script_done', function () {
                socket.emit('disconnect_request');
                return false;
            });

            $('button#exec_room').click(function() {
                socket.emit('executing', {room: $('#exec_room').val()});
                return false;
            });
            $('button#disconnect').click(function () {
                socket.emit('disconnect_request');
                window.location.href="{{ url_for('project_deploy', project=project) }}"
                return false;
            })
        });
    </script>
    <body>
    <div style="margin-top: 50px;margin-left: 210px; margin-right: 10px; z-index: -1"><br>
        <h3 style="color: #98bf21">发布: </h3><hr>
        <div style="width: 65%">
            <h4 style="color: #0091e6">项目：{{ project }} &nbsp;&nbsp;版本：{{ branch }}
                <button value="{{ project }}_{{ branch }}" id="exec_room" style="float: right">开始！</button>
                <a style="float: right">&nbsp;&nbsp;</a>
                <button id="disconnect" style="float: right">关闭！</button>
            </h4>
        </div>
        <textarea id="log" style="width: 65%; height: 500px; background-color: ghostwhite" placeholder="Logs output here..."></textarea>
    </div>
    </body>
{% endblock %}