<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMBFAE发版系统</title>
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<div>
    <ul class="left">
        <li class="left"><a href="#home">系统看板</a></lii>
        <li class="left"><a href="#news">工程发布</a></li>
        <li class="left"><a href="#contact">系统配置</a></li>
        <li class="left"><a href="#contact">人个信息</a></li>
    </ul>
</div>
<div>
    <ul class="right">
        <li class="right"><a href="#logout">登出</a> </li>
    </ul>
</div>
{% block body %}{% endblock %}
</html>