<!DOCTYPE html>
<html>
<head>
    <title>CMBFAE 发版平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    -->
    <link href='../static/lib/fonts/googleapis-Lato.css' rel='stylesheet' type='text/css'>
    <link href='../static/lib/fonts/googleapis-Roboto+Condensed.css' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/themes/flat-blue.css">
</head>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="../static/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/lib/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="../static/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="../static/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/lib/js/select2.full.min.js"></script>
<!-- Javascript -->
    <script type="text/javascript" src="../static/js/app.js"></script>
<!-- body below -->
<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                        {% block navbar_title %}{% endblock %}
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown profile">
                            <a href="{{ url_for('logout') }}" class="dropdown-toggle" role="button" aria-expanded="false">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">Deploy System</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <!-- Dropdown-->
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ url_for('index') }}">
                                    <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('projects') }}">
                                    <span class="icon fa fa-sitemap"></span><span class="title">Projects</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('charts') }}">
                                    <span class="icon fa fa-line-chart"></span><span class="title">Charts</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('config') }}">
                                    <span class="icon fa fa-cogs"></span><span class="title">System</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('users') }}">
                                    <span class="icon fa fa-users"></span><span class="title">Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('profile') }}">
                                    <span class="icon fa fa-book"></span><span class="title">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('license') }}">
                                    <span class="icon fa fa-thumbs-o-up"></span><span class="title">License</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
