<!DOCTYPE html>
<html>
<head>
<title>登录 - 发版系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/login.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="main">
		<div class="login">
			<h1>发版系统</h1>
			<div class="inset">
				<!--start-main-->
				<form action="{{ url_for('login') }}" method=post>
                    {{ form.hidden_tag() }}
			         <div>
						<!--<span><label>用户名</label></span>-->
                         <span>{{ form.username }}</span>
					 </div>
					 <div>
						<!--<span><label>密码</label></span>-->
                         <span>{{ form.password }}</span>
					 </div>
					<div class="sign">
                        <input type="submit" value="登录" class="submit" />
					</div>
					</form>
                    {% if error %}<p class="error" style="text-align: center; color: red;font-style: oblique;font-weight: 450"><strong>Error:</strong> {{ error }}{% endif %}
                    {# {% for message in get_flashed_messages() %}
                        <div class=flash>{{ message }}</div>
                    {% endfor %} #}
				</div>
			</div>
		<!--//end-main-->
		</div>
<!--
<div class="copy-right">
	<p>&copy; 2015 Ethos Login Form. All Rights Reserved</p>
</div>
-->
</body>
</html>