{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li class="active">Projects</li>
</ol>
{% endblock %}
{% block content %}
  <!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">Projects</span>
            <div class="description">工程发布，配置，报表发送</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title" style="float: none">
                            <div class="title">
                                工程列表
                                <a class="btn btn-success" style="float: right; margin-top: 0px" href="{{ url_for('deploy_batch') }}">批量发布</a>
                                <a style="float: right">&nbsp;</a>
                                <a class="btn btn-info" style="float: right; margin-top: 0px" href="../config/add_new_project">添加工程</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for project in project_list %}
                                <tr>
                                    <td style="vertical-align: middle">
                                        <div>
                                            <strong>{{ project.project_name }}</strong>
                                            <small><em class="text-muted">&nbsp;&nbsp;( {{ project.describe }} )</em></small>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="btn btn-default btn-sm" href="{{ url_for('project_deploy',project=project.project_name) }}" target="_blank">生产发布</a>
                                        <a class="btn btn-default btn-sm" href="{{ url_for('project_config',project=project.project_name) }}">配置</a>
                                        <a class="btn btn-default btn-sm" href="{{ url_for('project_delete',project=project.project_name) }}">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="sub-title">发送报表</div>
                            <div>
                                <!--
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                    <input type="checkbox" id="checkbox-fa-light-1" checked="">
                                    <label for="checkbox-fa-light-1">
                                        <strong>邮件 </strong><em>(请于下方选择收件人)</em>
                                    </label>
                                </div>
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                                    <input type="checkbox" id="checkbox-fa-light-2" checked="">
                                    <label for="checkbox-fa-light-2">
                                        <strong>微信 </strong><em>(版本发布公众号)</em>
                                    </label>
                                </div>
                                -->
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                                    <td>{{ form.media_email }}</td>
                                    <td>{{ form.media_email.label }}</td>
                                </div>
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                                    <td>{{ form.media_wechat }}</td>
                                    <td>{{ form.media_wechat.label }}</td>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--
                                <select class="form-control">
                                    <option value="op">operate@cmbfae.com</option>
                                    <option value="it">cmbfae-it@cmbfae.com</option>
                                </select>
                                -->
                                收件人 {{ form.receiver(class='form-control') }}
                            </div>
                            <div class="form-group form-control" style="border: none">
                                <!--
                                <div class="radio3 radio-check radio-inline">
                                    <input type="radio" id="radio1" name="date_range" value="7days" checked="">
                                    <label for="radio1">
                                        最近七天
                                    </label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input type="radio" id="radio2" name="date_range" value="today">
                                    <label for="radio2">
                                        今天
                                    </label>
                                </div>
                                -->
                                {% for type in form.date_range %}
                                    <div class="radio3 radio-inline radio-check radio-success">
                                        <td>{{ type }}</td>
                                        <td>{{ type.label }}</td>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--<button type="button" class="btn btn-default" onclick="alert('Still working on it...')">发送</button>-->
                            {{ form.submit(class='btn btn-default') }}
                        </div>
                        {% for message in get_flashed_messages() %}
                            {% if "Error" in message %}
                                <div class="alert alert-danger col-sm-12" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-success col-sm-12" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
