{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li class="active">System</li>
</ol>
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">系统配置</span>
                <div class="description">系统相关全局配置</div>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Ansible 配置</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ansible path</label>
                                    <div class="col-sm-9">
                                        {{ form.ansible_path(class="form-control",placeholder="e.g. /usr/bin",value=conf.ansible_path) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">发布配置</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">发布脚本路径</label>
                                    <div class="col-sm-9">
                                        {{ form.deploy_script(value=conf.deploy_script,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">启动脚本路径</label>
                                    <div class="col-sm-9">
                                        {{ form.start_script(value=conf.start_script,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">停止脚本路径</label>
                                    <div class="col-sm-9">
                                        {{ form.stop_script(value=conf.stop_script,class='form-control') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">源码库连接配置</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Repository Server</label>
                                    <div class="col-sm-9">
                                        {{ form.repository_server(placeholder="请输入源码库地址(http格式)...",value=conf.repository_server,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-9">
                                        {{ form.repository_user(placeholder="请输入用户名...",value=conf.repository_user,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-9">
                                        {{ form.repository_password(placeholder="请输入密码...",class='form-control') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">邮件发送设置</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">SMTP Server</label>
                                    <div class="col-sm-9">
                                        {{ form.smtp_server(placeholder="请输入SMTP服务器地址...",value=conf.smtp_server,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Mail Address</label>
                                    <div class="col-sm-9">
                                        {{ form.mail_address(placeholder="邮件地址...",value=conf.mail_address,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Login User</label>
                                    <div class="col-sm-9">
                                        {{ form.smtp_user(placeholder="SMTP用户名...",value=conf.smtp_user,class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-9">
                                        {{ form.smtp_password(placeholder="SMTP密码...",value=conf.smtp_pwd,class='form-control') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {{ form.submit(class="btn") }}
                <input class="btn" name="reset" type="reset" value="取消"/>
            </div>
            </form>
            {% for message in get_flashed_messages() %}
                {% if "Error" in message %}
                    <div class="alert alert-danger col-sm-12" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success col-sm-12" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
