{% extends "layout.html" %}
{% block body %}
    <body>
    <div style="margin-top: 50px;margin-left: 210px; margin-right: 10px; z-index: -1"><br>
        <h3>全局设置：</h3>
        <form action="{{ url_for('config') }}" method=post>
            <div>
			    <span>Ansible Path：<input type="text" name=username class="textbox" ></span>
                <!--<input type="submit" value="发布" class="submit" />-->
                <button type="button" onclick="alert('Still working on it...')">验证</button>
            </div><br>
            <div>
                <span>发布脚本路径：<input style="width: 60%" type="text" name=username class="textbox"></span>
            </div>
		</form>
    </div>
    </body>
{% endblock %}

