{% extends "layout.html" %}
{% block navbar_title %}
<ol class="breadcrumb navbar-breadcrumb">
    <li class="active">Users</li>
</ol>
{% endblock %}
{% block content %}
<script src="../static/layer/layer.js"></script>
<script src="../static/js/users.js"></script>
<!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">用户管理</span>
                <div class="description">用户配置及权限管理</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title" style="float: none">
                                <div class="title">
                                    用户列表
                                    <a class="btn btn-info" style="float: right; margin-top: 0px" href="{{ url_for('add_user') }}">添加用户</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!--<div class="sub-title">用户列表</div>-->
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Name</th>
                                            <th>Enable</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Name</th>
                                        <th>Enable</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for user in user_list %}
                                        <tr id="{{ user.id }}">
                                            <td style="vertical-align: middle">{{ user.id }}</td>
                                            <td style="vertical-align: middle">{{ user.username }}</td>
                                            <td style="vertical-align: middle">
                                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                    {% if user.enable %}
                                                        <!-- set value to get user_id via users.js -->
                                                        <input type="checkbox" id="{{ user.username }}" value="{{ user.id }}" checked="">
                                                        <label for="{{ user.username }}">
                                                            <strong>启用</strong>
                                                        </label>
                                                    {% else %}
                                                        <input type="checkbox" id="{{ user.username }}" value="{{ user.id }}">
                                                        <label for="{{ user.username }}">
                                                            <strong>启用</strong>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td style="vertical-align: middle">
                                                <!-- call js role_change func with two vars, user's role id, and user's id -->
                                                <select style="width: 80px"
                                                        onchange="role_change(this.options[this.options.selectedIndex].value, this.options[this.options.selectedIndex].id)">
                                                {% for role in role_list %}
                                                    {% if user.role == role.role_id %}
                                                        <option value="{{ role.role_id }}" id="{{ user.id }}" selected>{{ role.name }}</option>
                                                    {% else %}
                                                        <option value="{{ role.role_id }}" id="{{ user.id }}">{{ role.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                </select>
                                            </td>
                                            <td style="vertical-align: middle">
                                                <a class="btn btn-default btn-sm" onclick="del_user('{{ user.id }}')">删除</a>
                                                <a class="btn btn-default btn-sm" onclick="pwd_reset('{{ user.id }}')">重置密码</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
